* {
    box-sizing: border-box;
    color: pink;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background:rgb(2,0,36);
    background: cover radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(102,9,121,1) 13%, rgba(9,9,80,1) 37%); 
}

header {
    background-color: rgba(2,0,36,1);
    border-bottom: 2px solid aqua;
    font-weight: 400;
}

strong {
    color: #56208A;
}

.nav-bar{
    display: flex;

}

.flex-container {
    margin-top: 24px;
    display: flex;
    justify-content:space-around;
}

.field {
    height: auto;
    width: 500px;
    padding: 5px;
    border-radius: 25px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(60,12,107,1) 10%, rgba(0,18,32,1) 100%);
}

.field_title {
    text-align: center;
}
