* {
    box-sizing: border-box;
    /* color: rgb(241, 206, 244); */
    color: #D6C9E3;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    position: relative;
    background-color: #001220;
}

strong {
    color: #653495;
}

.grid-container {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    width: 100%;
    gap: 10px;
    text-align: center;
}

.grid-container > div {
    border: aqua solid 5px;
}

.grid-wide {
    grid-column: 2/4;
}

.grid-break {
    grid-column: 1 / span 4;
    height: 60vh;
}

.grid-left {
    grid-column: 2;
}

.grid-right {
    grid-column: 3;
}

img {
    max-width: 100%;
}

.svg-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.svg-container svg {
    position: relative;
    display: block;
    width: calc(200% + 1.3px);
    height: 150px;
}

.svg-container .shape-fill {
    fill: #56208A;
}