* {
    box-sizing: border-box;
    /* color: rgb(241, 206, 244); */
    color: #D6C9E3;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    /* background-image: url("layered-waves-haikei.svg"); */

    /* background:rgb(2,0,36); */
    /* background: cover radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(102,9,121,1) 13%, rgba(9,9,80,1) 37%); */
    position: relative;
    background-color: #001220;
}

strong {
    /* color: #56208A; */
    color: #653495;
}

.flex-container {
    margin-top: 24px;
    display: flex;
    justify-content:space-around;
}

.field {
    max-width: 800px;
}

.field_title {
    text-align: center;
}

.svg-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.svg-container svg {
    position: relative;
    display: block;
    width: calc(200% + 1.3px);
    height: 150px;
}

.svg-container .shape-fill {
    fill: #56208A;
}